<div>
  <div style="text-align: center">
    <h3>Welcome to Doctegrity!</h3>
  </div>
  <div style="margin-left: 5rem">
    <p>Dear <%= firstName %>,</p>
    <p>
      Thank you for joining Doctegrity. We are excited to have you on board!
    </p>
  </div>
  <div style="text-align: center; margin-top: 2rem">
    <a
      href="<%= resetPasswordLink %>"
      style="
        background-color: #1bafe6;
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        text-decoration: none;
      "
      >Reset Password</a
    >
    <div style="margin-left: 5rem">
      <p>
        Sincerely,<br />
        Doctegrity Team
      </p>
    </div>
  </div>
</div>
