<div>
  <div style="text-align: center">
    <h3>Welcome to Doctegrity!</h3>
  </div>
  <div style="margin-left: 5rem">
    <p>Dear <%= firstName %>,</p>
    <p>
      Thank you for joining Doctegrity. We are excited to have you on board!
    </p>
  </div>
  <div style="margin-left: 5rem">
    <p>Sincerely,</p>
    <p>Doctegrity Team</p>
  </div>
</div>
