<% /* 404: This is the default "404: Not Found" page (`res.notFound()`) For more
information, see: •
https://sailsjs.com/docs/reference/response-res/res-not-found •
https://sailsjs.com/docs/concepts/extending-sails/custom-responses */ %>

<link
  href="https://fonts.googleapis.com/css?family=Lato:300,400"
  rel="stylesheet"
/>
<style>
  /* Styles included inline since you'll probably be deleting this page anyway */
  html,
  body {
    text-align: left;
    font-size: 1em;
  }
  html,
  body,
  img,
  form,
  textarea,
  input,
  fieldset,
  div,
  p,
  div,
  ul,
  li,
  ol,
  dl,
  dt,
  dd,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  pre,
  code {
    margin: 0;
    padding: 0;
  }
  ul,
  li {
    list-style: none;
  }
  img {
    display: block;
  }
  a img {
    border: 0;
  }
  a {
    text-decoration: none;
    font-weight: normal;
    font-family: inherit;
  }
  *:active,
  *:focus {
    outline: 0;
    -moz-outline-style: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  h7 {
    font-weight: normal;
    font-size: 1em;
  }
  .clearfix:after {
    clear: both;
    content: '.';
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
  }
  .fourohfour .ocean {
    background: url('../images/sails-bg.png') #0c8da0 no-repeat center 302px;
    height: 335px;
    position: relative;
  }
  .fourohfour .ocean img {
    margin-right: auto;
    margin-left: auto;
  }
  .fourohfour .waves {
    display: block;
    padding-top: 25px;
    margin-right: auto;
    margin-left: auto;
  }
  .fourohfour .main {
    display: block;
    margin-top: 90px;
  }
  .fourohfour .logo {
    margin-top: 60px;
  }
  .fourohfour .logo a {
    width: 110px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .fourohfour .logo a img {
    width: 100%;
  }
  .fourohfour .fishy-container {
    width: 95%;
    position: absolute;
    bottom: -65px;
    left: 0px;
  }
  .fourohfour .fishy {
    display: block;
    padding-top: 27px;
    width: 100%;
    max-width: 496px;
  }
  .fourohfour .help {
    padding-top: 35px;
    font-size: 17px;
  }
  .fourohfour h1 {
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: #001c20;
    text-align: center;
  }
  .fourohfour h2 {
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 300;
    font-size: 19px;
    color: #001c20;
    text-align: center;
  }
  .fourohfour p {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 1.25em;
    color: #001c20;
    text-align: center;
  }
  .fourohfour a {
    color: #118798;
  }
  .fourohfour a:hover {
    color: #b1eef7;
  }
</style>

<div class="fourohfour">
  <div class="ocean">
    <div class="fishy-container">
      <img alt="fish" class="fishy" src="../images/404.png" />
    </div>
  </div>

  <div class="main">
    <h1>Something's fishy here.</h1>
    <h2>
      <% if (typeof error!== 'undefined') { %> <%= error %> <% } else { %> The
      page you were trying to reach doesn't exist. <% } %>
    </h2>
    <p class="help">
      <a href="https://sailsjs.com/support">Why</a> might this be happening?
    </p>
  </div>
</div>
