<% /* 500: This is the default "500: Server Error" page (`res.serverError()`)
For more information, see: •
https://sailsjs.com/docs/reference/response-res/res-server-error •
https://sailsjs.com/docs/concepts/extending-sails/custom-responses */ %>

<link
  href="https://fonts.googleapis.com/css?family=Lato:300,400"
  rel="stylesheet"
/>
<style>
  /* Styles included inline since you'll probably be deleting this page anyway */
  html,
  body {
    text-align: left;
    font-size: 1em;
  }
  html,
  body,
  img,
  form,
  textarea,
  input,
  fieldset,
  div,
  p,
  div,
  ul,
  li,
  ol,
  dl,
  dt,
  dd,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  pre,
  code {
    margin: 0;
    padding: 0;
  }
  ul,
  li {
    list-style: none;
  }
  img {
    display: block;
  }
  a img {
    border: 0;
  }
  a {
    text-decoration: none;
    font-weight: normal;
    font-family: inherit;
  }
  *:active,
  *:focus {
    outline: 0;
    -moz-outline-style: none;
  }
  .clearfix:after {
    clear: both;
    content: '.';
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
  }
  .fivehundred .ocean {
    background: url('../images/sails-bg.png') #0c8da0 no-repeat center 282px;
    height: 315px;
    position: relative;
  }
  .fivehundred .ocean img {
    margin-right: auto;
    margin-left: auto;
  }
  .fivehundred .main {
    display: block;
    margin-top: 90px;
  }
  .fivehundred .logo {
    margin-top: 60px;
  }
  .fivehundred .logo a {
    width: 110px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .fivehundred .logo a img {
    width: 100%;
  }
  .fivehundred .help,
  .fivehundred .error {
    padding-top: 2em;
  }
  .fivehundred h1 {
    font-family: 'Lato', 'Open Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: #001c20;
    text-align: center;
  }
  .fivehundred h2 {
    font-family: 'Lato', 'Open Sans', Arial, sans-serif;
    font-weight: 300;
    font-size: 19px;
    color: #001c20;
    text-align: center;
  }
  .fivehundred p {
    font-family: 'Lato', 'Open Sans', Arial, sans-serif;
    font-size: 1.25em;
    color: #001c20;
    text-align: center;
  }
  .fivehundred a {
    color: #14acc2;
  }
  .fivehundred a:hover {
    color: #0c8da0;
  }
  .fivehundred .whale-container {
    width: 95%;
    position: absolute;
    bottom: -65px;
    left: 0px;
  }
  .fivehundred .whale {
    display: block;
    padding-top: 27px;
    width: 100%;
    max-width: 586px;
  }
  .fivehundred .error-details {
    display: block;
    width: 75%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background: #001c20;
    color: #fff;
    margin-top: 50px;
    border-radius: 4px;
    border: 1px solid #000;
    padding: 15px;
  }
  .fivehundred .pre .code {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: auto;
  }
</style>
<div class="fivehundred">
  <div class="ocean">
    <div class="whale-container">
      <img alt="whale" class="whale" src="../images//500.png" />
    </div>
  </div>
  <div class="main">
    <h1>Internal Server Error</h1>
    <h2>Something isn't right here.</h2>
    <% if (typeof error !== 'undefined') { %>
    <div class="error-details">
      <pre><code><%- error %></code></pre>
    </div>
    <% } else { %>
    <p class="error">
      A team of highly trained sea bass is working on this as we speak.<br />
      If the problem persists, please
      <a href="https://sailsjs.com/contact">contact the system administrator</a>
      and inform them of the time that the error occured, and anything you might
      have done that may have caused the error.
    </p>
    <% } %>
  </div>
</div>
